@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--barlow);
}

:root {
  --barlow: 'Barlow', sans-serif;
}

body {
  width: 100vw;
  height: auto;
  /* overflow: hidden; */
  /* background-color:#000 ; */
}

.container {
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 20px 100px;
  position: absolute;
  z-index: 999;
}

.container .logo {
  font-size: 40px;
}

.container .nav li {
  display: inline;
  margin-right: 20px;
  list-style: none;
}

.container .nav li a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

main .container {
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

main .page1 {
  background-image: url('../images/story1/background1.png');
}

.page1 .txt-container {
  width: 700px;
}

.txt-container p {
  font-size: 32px;
  text-align: center;
}

.arrows {
  position: absolute;
  bottom: 10%;
  right: 40px;
  cursor: pointer;
}

.arrows img:nth-of-type(1) {
  transform: rotate(180deg);
}

main .page2 {
  background-color: #39aafe;
}

.page2 .display-img {
  width: 1500px;
}

.display-img img {
  max-width: 100%;
}

.page3 {
  background-color: #000;
  overflow: hidden;
}
.page3 .display-img {
  height: 100%;
  width: 1200px;
}

.display-img .mercury {
  position: relative;
  top: 100px;
}

.display-img .sun {
  position: relative;
  left: 300px;
  bottom: -150px;
}

.page3 .txt-container {
  width: 1500px;
}
.txt-container p {
  text-align: left;
}

.page4 {
  background-image: url('../images/story1/background4.png');
  background-color: #02a8c0;
}

.page4 .txt-container {
  width: 800px;
}

.page4 .txt-container p {
  font-size: 40px;
  font-weight: 400;
}

.page5 {
  background-image: url('../images/story1/background4.png');
  background-color: #000;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start; */
  height: 100%;
  width: fit-content;
}

.page5 .txt-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100px;
}

.txt-container h5 {
  font-size: 35px;
  font-weight: 300;
}

.txt-container p {
  width: 650px;
  font-size: 55px;
  font-weight: 600;
}

.download {
  position: absolute;
  bottom: 20%;
  left: 100px;
}

.download a {
  text-decoration: none;
  color: #f8b375;
  font-size: 20px;
}

.page6,
.page7 {
  background: #000 url('../images/story1/background4.png');
}

.page8 {
  background: #000 url('../images/story1/background4.png');
}

.poem1 {
  background: url('../images/story1/background1.png');
}
.poem1 .txt-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poem1 .txt-container p {
  text-align: center;
}
